
.custom-background{
    background-color: hsla(0, 0%, 94%, 0);
    background-image: url(../public/oooscillate.svg);
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    align-items: center;
}